.container {
  position: relative;
}

.contacts {
  position: relative;
  width: 100%;
}

.contacts > * {
  display: flex;
  align-items: center;
  padding: 10px;
}

.contact:nth-child(even) {
  background-color: var(--secondary-color-gray);
}

@media (max-width: 700px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact:nth-child(even) {
    background-color: var(--background-color-white);
  }

  .contact:first-child {
    background-color: var(--secondary-color-gray);
  }

  .contact:last-child {
    background-color: var(--secondary-color-gray);
  }
}

@media (max-width: 300px) {
  .contacts > * {
    padding: 5px;
  }
}
