.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 44px;
  background-color: var(--background-secondary);
  font-size: 0.8rem;
}

.active {
  background-color: var(--white);
  border-radius: 44px;
  padding: 8px 12px;
  font-weight: 700;
}

.inactive {
  border-radius: 44px;
  padding: 8px 12px;
  background-color: transparent;
  font-weight: 500;
}

.inactive:hover {
  cursor: pointer;
  background-color: var(--status-buttons-hover);
  border-radius: 44px;
  padding: 8px 12px;
  font-weight: 500;
}

.dropdown {
  display: none;
}

@media (max-width: 768px) {
  .dropdown {
    display: flex;
    align-items: center;
  }

  .buttonsContainer {
    display: none;
  }
}