.sideBarMobileContainer {
  display: none;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 0 12px 0 20px;
  box-shadow: 3px 2px 4px hsla(0, 0%, 0%, 0.301);
  height: calc(100% - 40px);
  margin-top: 40px;
  position: relative;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--foreground-secondary);
  margin-top: -32px;
  font-size: 1.2rem;
  font-weight: 500;
}

.avatar {
  width: 60px;
  height: 60px;
}

.logoutBtn {
  background-color: transparent;
  color: var(--foreground-secondary);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  padding: 24px;
  width: fit-content;
}

.logoutBtn:hover {
  text-decoration: underline;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.menuBtn {
  display: none;
}

@media (max-width: 580px) {
  .sideBarMobileContainer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    max-width: 320px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }

  .sideBar {
    border-radius: 0 12px 0 0;
  }

  .menuBtn {
    display: block;
    position: absolute;
    top: 72px;
    right: -52px;
    background-color: var(--primary);
    border-radius: 0 12px 12px 0;
    box-shadow: 3px 2px 4px hsla(0, 0%, 0%, 0.301);
    z-index: 1;
    padding: 8px 16px;
    color: var(--foreground-secondary);
    display: flex;
    align-items: center;
    justify-content: left;
  }
}
