.addButtonsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 12px;
}

.categoryFilterContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.todoList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  margin: 20px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.item:nth-child(odd) {
  background-color: var(--secondary-color-gray);
}

.buttonsContainer {
  display: inline;
}

.button {
  padding: 5px;
}

.button:hover {
  cursor: pointer;
}

.makeActiveBtn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.makeActiveBtn:hover {
  background-color: var(--primary-color-light);
}

@media (max-width: 1024px) {
  .filters {
    display: block;
  }
}