.navcontainer {
  position: relative;
  background-color: var(--background-color-white);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  background-color: var(--background-color-white);
}

.navmenu {
  display: none;
}

.menubutton {
  display: none;
}

@media (max-width: 500px) {
  .navcontainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .navbar {
    display: none;
  }

  .menubutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 20px;
    background-color: var(--background-color-white);
    padding: 5px 10px;
  }

  .navmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: var(--background-color-white);
    z-index: 99;
  }

  .item {
    margin: 0;
    text-align: left;
  }

  .item:nth-child(even) {
    background-color: var(--secondary-color-gray);
  }
}
