.button {
  padding: 5px 10px;
  background: linear-gradient(.25turn, var(--primary-color-light), var(--primary-color-dark));
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px var(--primary-color-darker);
  color: var(--text-color-primary);
}