.sidebar {
    text-align: center;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    text-align: left;
    width: 100%;
}