@import "modern-normalize/modern-normalize.css";

:root {
  /* Primary theme colors */
  --primary-color: #f3d34a;
  --primary-color-light: #f3e37c;
  --primary-color-dark: #c09f0c;
  --primary-color-darker: #4d4005;

  /* Secondary colors */
  --secondary-color: #333333;
  --secondary-color-gray: #EBEBEB;

  /* Background colors */
  --background-color-white: #F5F5F5;
  --background-color-yellow: #f4eea9;

  /* Text colors */
  --text-color-primary: #141414;
  --text-color-secondary: #474747;
  --text-color-light: #666666;

  /* Divider color */
  --divider-color: #B0B8BF;

  /* Button color */
  --button-color: #E0E0E0;

  /* hover colors */
  --status-buttons-hover-color: #f3e37c;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--background-color-yellow);
  height: 100%;
  padding-top: 10vh;
  overflow: hidden;
}

.app {
  width: 80vw;
  max-width: 1000px;
  min-width: 250px;
  margin: 0 auto;
  background-color: var(--background-color-white);
  border-radius: 20px;
  padding-top: 20px
}

.container {
  display: flex;
}

.content {
  flex-grow: 2;
  padding: 20px;
}

.buttonsContainer {
  margin: 0 auto;
}

.buttonsContainer > * {
  margin: 5px;
}

button {
  border: none;
  padding: 10px;
  background-color: var(--button-color);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

label {
  padding-right: 5px;
}

select,
input {
  padding: 3px;
  margin: 5px 0;
}

.divider {
  border: 1px solid var(--divider-color);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position:  absolute;
  width: 40%;
  max-width: 500px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 20px 50px;
  gap: 10px;
}

.error {
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px;
}

.info {
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  padding: 10px;
}

@media (max-width: 700px) {
  html {
    padding-top: 2vh;
    overflow: auto;
  }
  .app {
    width: 90vw;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}

@media (max-width: 900px) {
  .app {
    width: 90vw;
  }
}
