@import "modern-normalize/modern-normalize.css";

:root {
  /* Primary theme colors */
  --primary-color: #f3d34a;
  --primary-color-light: #f3e37c;
  --primary-color-dark: #c09f0c;
  --primary-color-darker: #4d4005;

  /* Secondary colors */
  --secondary-color: #333333;
  --secondary-color-gray: #ebebeb;

  /* Background colors */
  --background-color-white: #fffff5;
  --background-color-yellow: #f4eea9;

  /* Text colors */
  --text-color-primary: #141414;
  --text-color-secondary: #474747;
  --text-color-light: #666666;

  /* Divider color */
  --divider-color: #e0e0e0;

  /* Button color */
  --button-color: #e0e0e0;

  /* hover colors */
  --status-buttons-hover-color: #f3e37c;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color-yellow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 80vw;
  max-width: 1024px;
  min-width: 768px;
  background-color: var(--background-color-white);
  border-radius: 24px;
}

.container {
  display: flex;
}

.content {
  flex-grow: 2;
  padding: 24px;
}

.buttonsContainer {
  margin: 0 auto;
}

.buttonsContainer > * {
  margin: 8px;
}

button {
  border: none;
  padding: 12px;
  background-color: var(--button-color);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

label {
  padding-right: 8px;
}

select,
input {
  margin: 6px 0;
  border-radius: 6px;
  border: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

input {
  padding: 12px;
}

select {
  padding: 8px;
}

.divider {
  border: 1px solid var(--divider-color);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 8px 28px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position: absolute;
  width: 40%;
  max-width: 500px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 20px 50px;
  gap: 10px;
  z-index: 99;
}

.error {
  border: 1px solid red;
  border-radius: 6px;
  color: red;
  padding: 12px;
}

.info {
  border: 1px solid green;
  border-radius: 6px;
  color: green;
  padding: 12px;
}

@media (max-width: 1024px) {
  body {
    height: auto;
  }

  .app {
    width: auto;
  }
}

@media (max-width: 768px) {
  html {
    overflow: auto;
  }

  .app {
    width: auto;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}
