*,
*::before,
*::after {
  border: 1px solid black;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  /* display: flex;
  justify-content: center; */
}

.app {
  width: 70vw;
  min-width: 250px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content {
  padding: 0 20px;
}